sgo.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.w3school.com.cn"
           xmlns="http://www.w3school.com.cn"
           elementFormDefault="qualified">

    <xs:element name="sql">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="insert" type="xs:string"/>
                <xs:element name="select" type="xs:string"/>
                <xs:element name="update" type="xs:string"/>
                <xs:element name="delete" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>